<!-- this is our standard header, which we include in all pages with ejs-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>To Do List</title>
        <!-- Custom styles for this template -->
        <!-- The css folder must live in the 'public' folder -->
        <!-- We ignore the "public" folder, just call the css folder, then the file name.  -->
        <!-- this breaks the "go live" ability in vscode as we are using nodemon instead for this lesson. Likely need it this way
        later when we are deploying to a server??? -->
        <link rel="stylesheet" href="css/styles.css" />
    </head>
    <body></body>
</html>
